matplotlib==3.8.4
Pillow==10.3.0
scipy==1.15.3
numpy==1.26.4
nibabel==5.4.2
cython==3.2.4
shapely==2.1.2
timm==1.0.26
h5py==3.16.0
submitit==1.5.4
scikit-image==0.25.2
opencv-python==4.9.0.80
pycocotools==2.0.7
jupyter==1.0.0
notebook==7.1.1
ipympl==0.9.3
ninja==1.13.0